
.bank-account-info {
    padding:5rem 8rem;
    margin:auto;
}

.bank-account-card {
    font-size: 2.5rem;
    color:white;
}

.withdraw-card {
    margin:0 2rem;
}

.deposit-box {
    margin-right:2rem;
    color:white;
}

.rounded-1 {
    border-radius:1rem;
}
.deposit-box input, .withdraw-box input {
    padding:0.5rem;
    outline:none;
    border:none;
    border-radius: 1rem;
    width:80%;
}

.withdraw-box {
    color:white;
}


@media  only screen and (max-width:767px) {
    .deposit-box {
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .withdraw-card {
        margin:2rem 0;
    }

    .deposit-box input, .withdraw-box input {
        width:60%;
    }
}


@media  only screen and (max-width:575px) {
    .deposit-box input, .withdraw-box input {
        width:70%;
    }
}