.bank-account-info {
    padding:5rem 8rem;
    max-width: 1200px;
    margin:auto;
}

.bank-account-card {
    font-size: 2.5rem;
    color:white;
}

.deposit-box {
    margin-right:2rem;
    color:white;
}

.deposit-box input, .withdraw-box input {
    padding:0.5rem;
    outline:none;
    border:none;
    border-radius: 0.5rem;
}
.withdraw-box {
    color:white;
}

@media  only screen and (max-width:767px) {
.deposit-box {
    margin-bottom: 2rem;
    margin-right: 0;
}