body {
    font-family: 'Oswald', sans-serif;
}
.bank-login-header {
    border-radius: 5rem;
    padding:4rem 8rem;
    max-width: 892px;
    margin:5rem auto;
}

.form-input label {
    font-size: 1.75rem;
}

.form-input input {
    font-size:1.5rem;
    border-radius: 1rem;
    background-color: rgb(232, 240, 254);
    border:none;
    outline: none;
    padding:0.5rem;
}


.bank-login-btn {
    border-radius: 1rem;
    width:100%;
}


#login-error {
    font-size: 2rem;
    color:var(--color-danger)
}

#box {
    padding:1rem;
    font-size: 2rem;
    margin:auto;
    width:40%;
}